# Custom Error Pages & Security
ErrorDocument 403 /survey/403.php
ErrorDocument 404 /survey/404.php
ErrorDocument 500 /survey/500.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /survey/
  RewriteRule ^(config|core|lang|templates)/ - [F,L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([a-f0-9]{16})$ survey.php?uid=$1 [L,QSA]
</IfModule>
